<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrinho de super mercado</title>
    <link rel="stylesheet" href="./style.css">
</head>
    <div class="pai">
        
        <div class="filha" ng-app="shoppingList" ng-controller="myControl">
            <h2>my shopping list</h2>
            <hr>
            <ol>
                <li ng-repeat="prod in produtos">{{prod}} <span ng-click="removerItem($index)">&times;</span></li>
                
            </ol>
            
            <div class="botao">
                <input ng-model="item" placeholder="qual será o produto?">
                <button ng-click="addItem()">add produto</button>
            </div> 
            <p style="color:red; text-align:center;">{{textodeerro}}</p>
        </div>
    </div>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="index.js"></script>
</body>
</html>